Options All -Indexes
php_flag register_globals off
RewriteEngine on

RewriteCond %{REQUEST_URI} ^/admin$
RewriteRule ^(.*)$ /admin/ [R=301,L]

# robots
#RewriteCond %{REQUEST_URI} ^.*/robots\.txt/
#RewriteRule ^(.*)/$ /$1 [R=301,L]

# gallery
#RewriteCond %{REQUEST_URI} new/gallery/(.*)
#RewriteRule ^(.*)new/gallery/(.*) $1gallery/$2 [L,R=301]

# api
RewriteCond %{REQUEST_URI} admin/api/(.*)
RewriteRule ^(.+)$ core/api/admin/$1 [QSA]
RewriteCond %{REQUEST_URI} (\w\w)/api/(.*)
RewriteRule ^(.+)$ api/$1/$2 [QSA]
RewriteCond %{REQUEST_URI} api/(.*)
RewriteRule ^(.+)$ core/api.php?$1 [QSA,L]

# public page
RewriteCond %{REQUEST_URI} !admin/(.*)
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d [OR]
#RewriteCond %{REQUEST_URI} /$

#Everything goes to site.php
RewriteRule ^(.*)$ site.php


<Files PC_errors.txt>
  order allow,deny
  deny from all
</Files>