<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/admin$" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="/admin/" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^(.+)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="admin/api/(.*)" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="core/api/admin/{R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^(.+)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="(\w\w)/api/(.*)" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="api/{R:1}/{R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^(.+)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="api/(.*)" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="core/api.php?{R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="admin/(.*)" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="site.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
