<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1-1">
                    <match url="^(.+)/admin/(thumbnail|small|large)(/[^/]+)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^(.+)/admin/(thumbnail|small|large)(/[^/]+)$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/thumb-{R:2}{R:3}" />
                </rule>
                <rule name="Imported Rule 2-1">
                    <match url="^(.+)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="../core/gallery.php?r={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
