php_value upload_max_filesize 200M
php_value post_max_size 200M

<IfModule mod_security.c>
	SecFilterEngine Off
	SecFilterScanPOST Off
</IfModule>

<IfModule mod_security2.c>
       SecRuleRemoveById 0:9999999
</IfModule>