@import "_mixins.scss";

@include pc_gallery_widget_set_sizes(
	100%, 600px,						// width and height of the widget
	30px, 30px,							// arrow button in thumbs/controls area width and height
	50px, 50px,							// arrow button in preview area width and height
	50px, 50px,							// zoom button width and height
	10px,								// distance of arrows in thumbs/controls area from widget edge
	5px,								// distance of arrows in preview area from widget edge
	10px,								// distance of the zoom button from edges
	120px, 90px,						// width and height of thumbnails
	5px,								// space between thumbnails
	5px,								// space between thumbnails and preview area
	5px,								// space between thumbnails and widget edge (bottom)
	10px,								// space between thumbnails and arrow buttons
	0, 0, 0, 0,							// top, right, bottom and left margins of the image in the preview area
	0, 0, 0, 0							// top, right, bottom and left margins of highlighter within a thumbnail
);

@include pc_gallery_widget_set_style(
	light,								// style name
	none, #FFFFFF,						// border and background of the whole gallery area
	none, transparent,					// border and background of preview area
	none, transparent,					// border and background color of preview image
	none, transparent,					// border and background of thumbs/controls area
	none, transparent,					// border and background color of thumbnail
	3px solid #C0C0C0, transparent,		// border and background of highlighter
	url(../img/arrow-left-light.png),	// left arrow image in preview area (inherit = use default)
	url(../img/arrow-right-light.png),	// right arrow image in preview area (inherit = use default)
	url(../img/zoom-light.png),			// zoom button image (inherit = use default)
	inherit,							// left arrow image in thumbs area (inherit = same as in preview area)
	inherit								// right arrow image in thumbs area (inherit = same as in preview area)
);

@include pc_gallery_widget_set_style(
	dark,								// style name
	none, #404040,						// border and background of the whole gallery area
	none, transparent,					// border and background of preview area
	none, transparent,					// border and background color of preview image
	none, transparent,					// border and background of thumbs/controls area
	none, transparent,					// border and background of thumbnail
	3px solid #FFFFFF, transparent,		// border and background of highlighter
	url(../img/arrow-left-dark.png),	// left arrow image in preview area (inherit = use default)
	url(../img/arrow-right-dark.png),	// left arrow image in preview area (inherit = use default)
	url(../img/zoom-dark.png),			// zoom button image (inherit = use default)
	inherit,							// left arrow image in thumbs area (inherit = same as in preview area)
	inherit								// right arrow image in thumbs area (inherit = same as in preview area)
);

%movementTransitions {
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: opacity 0.2s ease, left 0.2s ease, top 0.2s ease;
	-moz-transition: opacity 0.2s ease, left 0.2s ease, top 0.2s ease;
	-ms-transition: opacity 0.2s ease, left 0.2s ease, top 0.2s ease;
	-o-transition: opacity 0.2s ease, left 0.2s ease, top 0.2s ease;
	transition: opacity 0.2s ease, left 0.2s ease, top 0.2s ease;
}

.pc_gallery {
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	* {
		box-sizing: border-box;
	}

	&.pcgw-bottom-thumbs {
		.pcgw-preview-wrap {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			.pcgw-preview {
				position: relative;
				width: 100%;
				height: 100%;

				.pcgw-image-wrap {
					position: absolute;
					overflow: hidden;

					.pcgw-image {
						@extend %movementTransitions;
						width: 100%;
						height: 100%;
						background-position: center center;
						background-repeat: no-repeat;
					}
				}

				.pcgw-left, .pcgw-right, .pcgw-zoom {
					opacity: 0;
				}

				&:hover {
					.pcgw-left, .pcgw-right, .pcgw-zoom {
						opacity: 0.5;

						&:hover {
							opacity: 1;
						}
					}
				}
			}
		}
		.pcgw-controls {
			position: absolute;
			bottom: 0;
			width: 100%;

			.pcgw-thumbs-wrap {
				position: absolute;

				.pcgw-thumbs-wrap2 {
					position: relative;
					width: 100%;
					height: 100%;
					overflow: hidden;

					.pcgw-thumbs {
						@extend %movementTransitions;
						height: 100%;

						.pcgw-thumbs-cont {
							position: relative;
							display: block;
							margin: 0;
							padding: 0;
							height: 100%;
							width: auto;
							white-space: nowrap;

							.pcgw-thumb {
								display: inline-block;
								padding: 0;
								cursor: pointer;
							}
						}

						.pcgw-highlighter-wrap {
							@extend %movementTransitions;
							display: none;

							.pcgw-highlighter {
								position: absolute;
							}
						}

						a {
							display: block;
							width: 100%;
							height: 100%;
							background-position: center center;
							background-repeat: no-repeat;
							margin: 0;
							padding: 0;
							pointer-events: none;
						}

						img {
							display: none;
						}
					}
				}
			}

			.pcgw-left, .pcgw-right {
				opacity: 0.5;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

