.x-flag-combo-icon {
	/*display: inline-block;*/
	position: absolute;
	width: 16px;
	height: 11px;
	background-image: url('../images/flags_matrix.png');
	top: 1px;
	left: 3px;
	font-size: 1px !important; /* IE6 FTW */
}

.x-combo-list-item {
	position: relative;
}

.x-combo-list-item .x-flag-off {
	padding-left: 22px;
}

.x-flag-combo-input {
	padding-left: 23px;
}

.x-form-field-wrap .x-flag-combo-icon {
    top: 6px;
    left: 5px;
}
