.formitem,
.formitem_deactivated
{
	border: 1px solid transparent;
	border-radius: 2px;
	cursor: pointer;
	font-family: Tahoma,Verdana,Arial,Helvetica;
	font-size: 11px;
	line-height: 22px;
	height: 22px;
	margin: 0 2px;
}
.formitem:hover
{
	background-image: url("../ext/resources/images/default/menu/item-over.gif");
	background-color: #ffffff;
	background-position: bottom;
	border-color: #aaccf6;
/*	color: #0099FF;*/
}

.formitem_deactivated
{
	cursor:default;
	opacity:0.4;
	filter:alpha(opacity=40);
}

.formitem img,
.formitem_deactivated img
{
	vertical-align: middle;
	padding: 0 7px 0 3px;
}
